#show-pizza {
  display: none;
}
.toppingsAligned {
  text-align: center;
}

.pizza {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}

.checkout {
  display: none;
}
